:host /deep/ .hero-detail-pic-container {
    width: 250px;
    height: 250px; // why? because we want it to take up the same space even when not loaded 
    margin: 10px auto;
    // center
    text-align: center;
    line-height: 250px;
}

:host /deep/ .hero-detail-pic-container {
    vertical-align: middle;
}

:host /deep/ .hero-detail-card {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}