<!--TODO: loading spin if src -->
<div *ngIf="hero" class="card">
  <img class="card-img-top hero-detail-pic" src="{{hero.imgUrl}}" alt="Hero Pic"/>
  <div class="card-block hero-detail-card">
    <h4 class="card-title">{{hero.name}} details!</h4>
    <p class="card-text"><label>id: </label>{{hero.id}}</p>
    <p class="card-text"><label>Name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
    </p>
    <!--TODO: for input and output-->
    <!--<toh-hero-power [(value)]="hero.power"></toh-hero-power>-->
    <button (click)="goBack()" class="btn btn-primary">Back</button>
  </div>
</div>