<h2>My Heroes</h2>
<ul class="list-group">
  <li *ngFor="let hero of heroes"
    class="list-group-item"
    [class.active]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge badge-info hero-id-badge">{{hero.id}}</span>{{hero.name}}
  </li>
</ul>
<div *ngIf="selectedHero" class="card hero-card">
  <div class="card-block">
  <h4 class="card-text">
    {{selectedHero.name | uppercase}} is my hero.
  </h4>
  <button class="btn btn-primary" (click)="gotoDetail()">View Details</button>
  </div>
</div>
